<h1>Show Email</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @email.email %>
  </li>

  <li>
    <strong>Verified:</strong>
    <%= @email.verified %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.email_path(@conn, :edit, @email) %></span> |
<span><%= link "Back", to: Routes.email_path(@conn, :index) %></span>
