<%= form_for @changeset, Routes.account_path(@conn, :check_workspace), [method: :post], fn f -> %>
<%= label f, :uuid, "Access Key" %>
<%= text_input f, :uuid %>
<%= submit "Access my invoices" %>
<% end %>